body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Set minimum height of the body to full viewport height */
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

main {
  padding: 20px;
  flex: 1; /* Use all available space, pushing footer to the bottom */
}


footer {
  background-color: #f9f9f9;
  padding: 10px;
  text-align: center;
}


table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

/* Add your additional styles below */

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 08px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Animation for the website name */
.animate-website-name {
  animation: enlarge-title 2s forwards;
}

@keyframes enlarge-title {
  0% {
    font-size: 1rem;
    opacity: 0;
  }
  100% {
    font-size: 4rem;
    opacity: 1;
  }
}
